In [3]:
import pandas as pd#this is the actual file in excel
data=pd.read_csv("dept.csv")
data

        Name  Department
0       Aman       Civil
1     Zamira       Civil
2       Mira        Tech
3      Kiran  Electronic
4     Akabar    Computer
5      Jyoti      Normal
6     Anurag        Engg
7       Teja          It
8     Pawash        Tech
9   Rajkuamr  Electronic
10      Ajay        Fire
11     Akira          Cs
12     Arina        Engg
13       Raj        Mech
14     Anmol        Mech
15       Jay          Cs

In [9]:
#now if we want to use the column as the index in this file and therefore the other column department has automatically 
#been set to be the value because there are only 2 columns in the file
data=pd.read_csv("dept.csv",index_col='Name',squeeze=True) #here squeeze basically squeezes the column other than index i.e 
#department i.e we have the name column shown because we have assigned it as the index
#now we sort the index values i.e the name column alphabetically
data.sort_index()

Name
Ajay              Fire
Akabar        Computer
Akira               Cs
Aman             Civil
Anmol             Mech
Anurag            Engg
Arina             Engg
Jay                 Cs
Jyoti           Normal
Kiran       Electronic
Mira              Tech
Pawash            Tech
Raj               Mech
Rajkuamr    Electronic
Teja                It
Zamira           Civil
Name: Department, dtype: object

In [13]:
#data=data.sort_index()#this command basically sorts the values in our data such that they can be used in the next cell also 
#i.e after using this sorting command the data will be permanently sorted
#data

Name
Ajay              Fire
Akabar        Computer
Akira               Cs
Aman             Civil
Anmol             Mech
Anurag            Engg
Arina             Engg
Jay                 Cs
Jyoti           Normal
Kiran       Electronic
Mira              Tech
Pawash            Tech
Raj               Mech
Rajkuamr    Electronic
Teja                It
Zamira           Civil
Name: Department, dtype: object

In [14]:
data.sort_index(inplace=True)#this command also sorts the values in our data such that they can be used in the next cell also 
#i.e after using this sorting command the data will be permanently sorted
data

Name
Ajay              Fire
Akabar        Computer
Akira               Cs
Aman             Civil
Anmol             Mech
Anurag            Engg
Arina             Engg
Jay                 Cs
Jyoti           Normal
Kiran       Electronic
Mira              Tech
Pawash            Tech
Raj               Mech
Rajkuamr    Electronic
Teja                It
Zamira           Civil
Name: Department, dtype: object

In [15]:
data.get("Ajay")#gets the value at the index ajay

'Fire'

In [16]:
data.get(['Ajay','Akira'])#gets the value at the index ajay and akira

Name
Ajay     Fire
Akira      Cs
Name: Department, dtype: object

In [17]:
data.get(key='Aman')#gets the value by key  or index value

'Civil'

In [18]:
data.get(key='Anmo',default='this is not a data')#since anmo is not key in our data thus the message this is not data is displayed

'this is not a data'

In [20]:
data.get(key=['Ajay','Akira'])#displays values at the respectively mentioned keys

Name
Ajay     Fire
Akira      Cs
Name: Department, dtype: object