# READ CSV

In [1]:
import pandas as pd
df=pd.read_csv("stock_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [4]:
df=pd.read_csv("stock_data.csv",skiprows=1)#delets the first row i.e the tickers row and shifts google row up
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [8]:
df=pd.read_csv("stock_data.csv",header=1)#makes the first row as the header of the table
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [11]:
df=pd.read_csv("stock_data.csv",header=None)#removes the header and places indexes instead
df

         0              1        2      3              4
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [12]:
df=pd.read_csv("stock_data.csv",nrows=3)#deletes rows after the third row
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

# WRITE TO CSV

In [8]:
import pandas as pd
df=pd.read_csv("stock_data.csv")
df.to_csv("new.csv",index=False)#this basically creates a csv file in excel named new and saves the data we manipulated here
#using pandas  and excel does its own indexing that is why we have removed the panda indexing by taking index=false

In [14]:
df.columns#displays the columns in df

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [11]:
import pandas as pd
df=pd.read_csv("stock_data.csv")

df.to_csv("new3.csv",header =False,index=False)#removes the header in the created csv file

In [12]:
df=pd.read_csv("stock_data.csv")
df.to_csv("newschannel.csv",columns=["tickers","price"],index=False)#to have selected columns here tickers and price in the 
#csv file

# READ AN EXCEL FILE

In [5]:
import pandas as pd
#use command pip install xlrd in cmd first
df=pd.read_excel("stock_data.xlsx","Sheet1")#used to read an excel file which is generally not done
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata