In [2]:
import pandas as pd
data=pd.read_csv("hire.csv")
data

,Percentage,Backlog,Internship,First_Round,Communication_Skills,Hired,Unnamed: 6
0,81.00,0,1,75.00,80.00,1,NaN
1,70.00,0,3,87.00,70.00,1,NaN
2,81.00,2,3,75.00,67.00,0,NaN
3,56.00,3,3,42.00,76.00,0,NaN
4,74.00,4,3,82.00,75.00,1,NaN
5,69.00,0,2,74.00,71.00,1,NaN
6,46.00,3,1,67.00,86.00,0,NaN
7,70.00,0,1,78.00,75.00,1,NaN
8,85.00,1,1,65.00,72.00,1,NaN
9,70.00,1,1,80.00,85.00,1,NaN
10,90.00,0,1,88.00,89.00,1,NaN
11,70.00,0,1,84.00,75.00,1,NaN
12,69.00,0,1,66.00,71.00,1,NaN
13,70.00,2,0,85.00,73.00,1,NaN
14,70.00,0,1,67.00,73.00,1,NaN
15,67.00,1,1,64.00,75.00,1,NaN
16,80.00,0,1,68.00,77.00,1,NaN
17,67.00,0,1,66.00,78.00,1,NaN
18,89.00,0,1,78.00,80.00,1,NaN
19,90.00,0,1,90.00,89.00,1,NaN
20,87.00,0,1,88.00,85.00,1,NaN
21,68.00,0,1,80.00,97.00,1,NaN
22,69.00,0,1,78.00,80.00,1,NaN
23,80.00,0,1,84.00,80.00,1,NaN
24,80.00,1,1,76.00,80.00,1,NaN
25,80.00,1,1,88.00,84.00,1,NaN
26,87.00,0,1,85.00,85.00,1,NaN
27,75.00,0,2,80.00,90.00,1,NaN
28,90.00,0,3,70.00,75.00,1,NaN
29,88.00,0,3,85.00,92.00,1,NaN
...,...,...,...,...,...,...,...
347,71.00,4,4,81.00,71.00,1,NaN
348,64.00,1,69,0.00,64.00,1,NaN
349,60.00,3,65,0.00,61.00,1,NaN
350,60.00,6,0,60.00,60.00,0,NaN
351,61.00,6,0,60.00,60.00,0,NaN
352,62.00,5,0,62.00,63.00,0,NaN
353,63.00,4,0,63.00,65.00,0,NaN
354,64.00,3,0,65.00,69.00,0,NaN
355,64.00,5,2,79.00,69.00,0,NaN
356,63.00,6,2,78.00,68.00,0,NaN
357,62.00,7,1,77.00,67.00,0,NaN
358,61.00,8,1,76.00,66.00,0,NaN
359,60.00,9,2,75.00,65.00,0,NaN
360,59.00,8,2,75.00,65.00,0,NaN
361,62.55,1,2,72.00,79.00,1,NaN
362,72.87,0,3,80.30,85.50,1,NaN
363,75.90,0,4,80.00,85.00,1,NaN
364,59.00,4,2,71.00,69.00,0,NaN
365,82.50,3,4,87.00,83.00,1,NaN
366,59.37,3,1,65.00,71.00,0,NaN
367,71.60,0,4,75.00,85.00,1,NaN
368,65.58,2,4,71.00,89.00,1,NaN
369,67.78,5,0,60.00,71.00,0,NaN
370,59.98,5,5,87.00,91.00,1,NaN
371,63.45,5,0,67.00,70.00,0,NaN
372,68.87,2,0,66.67,69.69,0,NaN
373,80.48,0,3,79.00,88.89,1,NaN
374,65.00,2,1,60.00,70.00,1,NaN
375,100.00,5,3,88.00,88.00,1,NaN
376,100.00,8,1,88.00,88.00,0,NaN

In [2]:
import pandas as pd
data=pd.read_csv("hire.csv",squeeze=True,usecols=["Percentage"])#shows indices of values in the column without the column name 
#however this command works only for 1 column i.e squeeze has to be used before data[9]
data[9]#this extracts the value at index 9

70.0

In [3]:
data[-50:]#shows values from index -50 to the last index

,Percentage,Backlog,Internship,First_Round,Communication_Skills,Hired,Unnamed: 6
327,65.00,1,1,65.00,70.00,1,NaN
328,65.00,3,3,85.00,80.00,1,NaN
329,60.00,5,1,40.00,70.00,0,NaN
330,90.00,0,0,70.00,60.00,0,NaN
331,30.00,8,0,20.00,35.00,0,NaN
332,69.00,2,3,85.00,95.00,1,NaN
333,59.00,3,2,80.00,80.00,0,NaN
334,41.00,4,5,85.00,62.00,0,NaN
335,64.00,2,4,80.00,80.00,1,NaN
336,55.00,3,3,87.00,89.00,1,NaN
337,66.00,4,2,80.00,80.00,0,NaN
338,75.00,8,6,80.00,80.00,0,NaN
339,70.00,1,2,65.00,71.00,1,NaN
340,67.00,2,3,70.00,77.00,1,NaN
341,81.00,2,2,66.00,79.00,1,NaN
342,68.00,1,4,71.00,71.00,1,NaN
343,66.00,3,4,81.00,77.00,1,NaN
344,70.00,3,5,88.00,71.00,1,NaN
345,70.00,3,5,89.00,79.00,1,NaN
346,71.00,4,4,88.00,71.00,1,NaN
347,71.00,4,4,81.00,71.00,1,NaN
348,64.00,1,69,0.00,64.00,1,NaN
349,60.00,3,65,0.00,61.00,1,NaN
350,60.00,6,0,60.00,60.00,0,NaN
351,61.00,6,0,60.00,60.00,0,NaN
352,62.00,5,0,62.00,63.00,0,NaN
353,63.00,4,0,63.00,65.00,0,NaN
354,64.00,3,0,65.00,69.00,0,NaN
355,64.00,5,2,79.00,69.00,0,NaN
356,63.00,6,2,78.00,68.00,0,NaN
357,62.00,7,1,77.00,67.00,0,NaN
358,61.00,8,1,76.00,66.00,0,NaN
359,60.00,9,2,75.00,65.00,0,NaN
360,59.00,8,2,75.00,65.00,0,NaN
361,62.55,1,2,72.00,79.00,1,NaN
362,72.87,0,3,80.30,85.50,1,NaN
363,75.90,0,4,80.00,85.00,1,NaN
364,59.00,4,2,71.00,69.00,0,NaN
365,82.50,3,4,87.00,83.00,1,NaN
366,59.37,3,1,65.00,71.00,0,NaN
367,71.60,0,4,75.00,85.00,1,NaN
368,65.58,2,4,71.00,89.00,1,NaN
369,67.78,5,0,60.00,71.00,0,NaN
370,59.98,5,5,87.00,91.00,1,NaN
371,63.45,5,0,67.00,70.00,0,NaN
372,68.87,2,0,66.67,69.69,0,NaN
373,80.48,0,3,79.00,88.89,1,NaN
374,65.00,2,1,60.00,70.00,1,NaN
375,100.00,5,3,88.00,88.00,1,NaN
376,100.00,8,1,88.00,88.00,0,NaN

In [7]:
data[50:100]#shows values from index 50 to 100

,Percentage,Backlog,Internship,First_Round,Communication_Skills,Hired,Unnamed: 6
50,87.0,1,3,70.0,78.0,1,NaN
51,99.0,0,5,90.0,89.0,1,NaN
52,92.0,0,4,89.0,78.0,1,NaN
53,67.0,4,7,92.0,75.0,1,NaN
54,80.0,2,4,80.0,80.0,1,NaN
55,98.0,1,4,80.0,89.0,1,NaN
56,76.0,0,7,90.0,80.0,1,NaN
57,87.0,0,6,80.0,10.0,0,NaN
58,56.0,5,0,54.0,40.0,0,NaN
59,64.0,0,0,56.0,55.0,0,NaN
60,67.0,4,6,60.0,55.0,0,NaN
61,89.0,0,0,55.0,44.0,0,NaN
62,61.0,4,0,44.0,20.0,0,NaN
63,45.0,1,0,45.0,65.0,0,NaN
64,50.0,3,0,50.0,50.0,0,NaN
65,56.0,1,0,66.0,55.0,0,NaN
66,34.0,9,10,50.0,60.0,0,NaN
67,45.0,2,0,55.0,43.0,0,NaN
68,86.0,1,1,78.0,70.0,1,NaN
69,72.0,3,5,89.0,73.0,1,NaN
70,70.0,1,1,70.0,75.0,1,NaN
71,95.0,2,6,65.0,85.0,1,NaN
72,65.0,5,5,92.0,82.0,1,NaN
73,69.0,1,2,82.0,82.0,1,NaN
74,92.0,3,5,96.0,92.0,1,NaN
75,82.0,2,3,62.0,93.0,1,NaN
76,85.0,0,4,85.0,90.0,1,NaN
77,65.0,1,1,65.0,70.0,1,NaN
78,92.0,4,4,83.0,72.0,1,NaN
79,85.0,1,2,80.0,90.0,1,NaN
80,50.0,3,4,55.0,100.0,1,NaN
81,93.0,1,5,82.0,92.0,1,NaN
82,80.0,0,5,80.0,90.0,1,NaN
83,65.0,2,3,65.0,75.0,1,NaN
84,93.0,3,8,82.0,82.0,1,NaN
85,50.0,4,3,50.0,60.0,0,NaN
86,80.0,0,10,80.0,100.0,1,NaN
87,70.0,2,3,72.0,75.0,1,NaN
88,38.0,2,0,61.0,53.0,0,NaN
89,60.0,1,3,65.0,100.0,1,NaN
90,85.0,6,1,82.0,57.0,0,NaN
91,90.0,2,6,85.0,40.0,1,NaN
92,40.0,3,1,65.0,90.0,0,NaN
93,82.0,1,2,58.0,24.0,0,NaN
94,60.0,4,2,60.0,70.0,0,NaN
95,51.0,5,1,68.0,60.0,0,NaN
96,100.0,0,15,100.0,70.0,1,NaN
97,57.0,2,0,95.0,27.0,0,NaN
98,70.0,0,2,65.0,72.0,1,NaN
99,60.0,4,3,70.0,100.0,1,NaN

In [8]:
data[-30:-10]#shows values from index -30 to -10

,Percentage,Backlog,Internship,First_Round,Communication_Skills,Hired,Unnamed: 6
347,71.00,4,4,81.0,71.0,1,NaN
348,64.00,1,69,0.0,64.0,1,NaN
349,60.00,3,65,0.0,61.0,1,NaN
350,60.00,6,0,60.0,60.0,0,NaN
351,61.00,6,0,60.0,60.0,0,NaN
352,62.00,5,0,62.0,63.0,0,NaN
353,63.00,4,0,63.0,65.0,0,NaN
354,64.00,3,0,65.0,69.0,0,NaN
355,64.00,5,2,79.0,69.0,0,NaN
356,63.00,6,2,78.0,68.0,0,NaN
357,62.00,7,1,77.0,67.0,0,NaN
358,61.00,8,1,76.0,66.0,0,NaN
359,60.00,9,2,75.0,65.0,0,NaN
360,59.00,8,2,75.0,65.0,0,NaN
361,62.55,1,2,72.0,79.0,1,NaN
362,72.87,0,3,80.3,85.5,1,NaN
363,75.90,0,4,80.0,85.0,1,NaN
364,59.00,4,2,71.0,69.0,0,NaN
365,82.50,3,4,87.0,83.0,1,NaN
366,59.37,3,1,65.0,71.0,0,NaN