In [2]:
import pandas as pd#used to read the csv file named hire
data=pd.read_csv("hire.csv")
data

,Percentage,Backlog,Internship,First_Round,Communication_Skills,Hired,Unnamed: 6
0,81.00,0,1,75.00,80.00,1,NaN
1,70.00,0,3,87.00,70.00,1,NaN
2,81.00,2,3,75.00,67.00,0,NaN
3,56.00,3,3,42.00,76.00,0,NaN
4,74.00,4,3,82.00,75.00,1,NaN
5,69.00,0,2,74.00,71.00,1,NaN
6,46.00,3,1,67.00,86.00,0,NaN
7,70.00,0,1,78.00,75.00,1,NaN
8,85.00,1,1,65.00,72.00,1,NaN
9,70.00,1,1,80.00,85.00,1,NaN
10,90.00,0,1,88.00,89.00,1,NaN
11,70.00,0,1,84.00,75.00,1,NaN
12,69.00,0,1,66.00,71.00,1,NaN
13,70.00,2,0,85.00,73.00,1,NaN
14,70.00,0,1,67.00,73.00,1,NaN
15,67.00,1,1,64.00,75.00,1,NaN
16,80.00,0,1,68.00,77.00,1,NaN
17,67.00,0,1,66.00,78.00,1,NaN
18,89.00,0,1,78.00,80.00,1,NaN
19,90.00,0,1,90.00,89.00,1,NaN
20,87.00,0,1,88.00,85.00,1,NaN
21,68.00,0,1,80.00,97.00,1,NaN
22,69.00,0,1,78.00,80.00,1,NaN
23,80.00,0,1,84.00,80.00,1,NaN
24,80.00,1,1,76.00,80.00,1,NaN
25,80.00,1,1,88.00,84.00,1,NaN
26,87.00,0,1,85.00,85.00,1,NaN
27,75.00,0,2,80.00,90.00,1,NaN
28,90.00,0,3,70.00,75.00,1,NaN
29,88.00,0,3,85.00,92.00,1,NaN
...,...,...,...,...,...,...,...
347,71.00,4,4,81.00,71.00,1,NaN
348,64.00,1,69,0.00,64.00,1,NaN
349,60.00,3,65,0.00,61.00,1,NaN
350,60.00,6,0,60.00,60.00,0,NaN
351,61.00,6,0,60.00,60.00,0,NaN
352,62.00,5,0,62.00,63.00,0,NaN
353,63.00,4,0,63.00,65.00,0,NaN
354,64.00,3,0,65.00,69.00,0,NaN
355,64.00,5,2,79.00,69.00,0,NaN
356,63.00,6,2,78.00,68.00,0,NaN
357,62.00,7,1,77.00,67.00,0,NaN
358,61.00,8,1,76.00,66.00,0,NaN
359,60.00,9,2,75.00,65.00,0,NaN
360,59.00,8,2,75.00,65.00,0,NaN
361,62.55,1,2,72.00,79.00,1,NaN
362,72.87,0,3,80.30,85.50,1,NaN
363,75.90,0,4,80.00,85.00,1,NaN
364,59.00,4,2,71.00,69.00,0,NaN
365,82.50,3,4,87.00,83.00,1,NaN
366,59.37,3,1,65.00,71.00,0,NaN
367,71.60,0,4,75.00,85.00,1,NaN
368,65.58,2,4,71.00,89.00,1,NaN
369,67.78,5,0,60.00,71.00,0,NaN
370,59.98,5,5,87.00,91.00,1,NaN
371,63.45,5,0,67.00,70.00,0,NaN
372,68.87,2,0,66.67,69.69,0,NaN
373,80.48,0,3,79.00,88.89,1,NaN
374,65.00,2,1,60.00,70.00,1,NaN
375,100.00,5,3,88.00,88.00,1,NaN
376,100.00,8,1,88.00,88.00,0,NaN

In [4]:
data.sort_values("Percentage")
#here we have sorted the values by default in ascending order moreover since we  have the complete table then we need to
#specify that using which column we want to sort the values for that we use by 
#here the value of by is the "Percentage" column

,Percentage,Backlog,Internship,First_Round,Communication_Skills,Hired,Unnamed: 6
177,30.00,0,0,45.0,56.0,0,NaN
331,30.00,8,0,20.0,35.0,0,NaN
303,33.00,2,0,49.0,70.0,0,NaN
66,34.00,9,10,50.0,60.0,0,NaN
88,38.00,2,0,61.0,53.0,0,NaN
92,40.00,3,1,65.0,90.0,0,NaN
227,40.00,4,0,55.0,50.0,0,NaN
334,41.00,4,5,85.0,62.0,0,NaN
63,45.00,1,0,45.0,65.0,0,NaN
176,45.00,3,0,33.0,55.0,0,NaN
67,45.00,2,0,55.0,43.0,0,NaN
217,45.00,2,0,65.0,80.0,0,NaN
204,45.00,8,2,67.0,10.0,0,NaN
127,45.00,12,3,54.0,79.0,0,NaN
138,45.00,20,5,77.0,88.0,0,NaN
6,46.00,3,1,67.0,86.0,0,NaN
326,47.00,6,0,50.0,90.0,0,NaN
207,47.00,0,2,42.0,46.0,0,NaN
151,50.00,2,0,50.0,60.0,0,NaN
297,50.00,3,2,50.0,60.0,0,NaN
282,50.00,3,0,60.0,50.0,0,NaN
44,50.00,2,2,55.0,66.0,0,NaN
64,50.00,3,0,50.0,50.0,0,NaN
85,50.00,4,3,50.0,60.0,0,NaN
80,50.00,3,4,55.0,100.0,1,NaN
280,50.00,2,0,60.0,60.0,0,NaN
101,50.00,10,0,60.0,40.0,0,NaN
117,50.00,4,2,60.0,100.0,1,NaN
179,50.00,3,1,40.0,50.0,0,NaN
208,51.00,3,1,56.0,30.0,0,NaN
...,...,...,...,...,...,...,...
287,90.00,0,4,87.0,90.0,1,NaN
292,90.00,0,1,80.0,87.0,1,NaN
325,90.00,0,3,87.0,77.0,1,NaN
213,90.50,0,2,70.0,85.0,1,NaN
224,91.00,0,2,75.0,71.0,1,NaN
125,91.00,3,5,89.0,77.0,0,NaN
78,92.00,4,4,83.0,72.0,1,NaN
74,92.00,3,5,96.0,92.0,1,NaN
143,92.00,0,3,68.0,88.0,1,NaN
141,92.00,0,1,65.0,85.0,1,NaN
124,92.00,0,6,80.0,88.0,1,NaN
221,92.00,0,3,80.0,85.0,1,NaN
52,92.00,0,4,89.0,78.0,1,NaN
84,93.00,3,8,82.0,82.0,1,NaN
81,93.00,1,5,82.0,92.0,1,NaN
289,95.00,0,5,85.0,87.0,1,NaN
273,95.00,0,5,98.0,97.0,1,NaN
171,95.00,0,0,55.0,60.0,0,NaN
194,95.00,0,3,91.0,99.0,1,NaN
71,95.00,2,6,65.0,85.0,1,NaN
166,95.00,0,3,90.0,100.0,1,NaN
163,95.00,1,2,80.0,80.0,1,NaN
55,98.00,1,4,80.0,89.0,1,NaN
263,98.00,3,3,89.0,93.0,1,NaN
195,98.99,0,6,97.0,100.0,1,NaN
51,99.00,0,5,90.0,89.0,1,NaN
165,99.00,0,4,88.0,93.0,1,NaN
375,100.00,5,3,88.0,88.0,1,NaN
96,100.00,0,15,100.0,70.0,1,NaN
376,100.00,8,1,88.0,88.0,0,NaN

In [6]:
data=pd.read_csv("hire.csv",squeeze=True,usecols=["Percentage"])
data#nowe we  squeezed the data to only one column i.e percentage we can sort the values in percentage without having
#to use by

0       81.00
1       70.00
2       81.00
3       56.00
4       74.00
5       69.00
6       46.00
7       70.00
8       85.00
9       70.00
10      90.00
11      70.00
12      69.00
13      70.00
14      70.00
15      67.00
16      80.00
17      67.00
18      89.00
19      90.00
20      87.00
21      68.00
22      69.00
23      80.00
24      80.00
25      80.00
26      87.00
27      75.00
28      90.00
29      88.00
        ...
347     71.00
348     64.00
349     60.00
350     60.00
351     61.00
352     62.00
353     63.00
354     64.00
355     64.00
356     63.00
357     62.00
358     61.00
359     60.00
360     59.00
361     62.55
362     72.87
363     75.90
364     59.00
365     82.50
366     59.37
367     71.60
368     65.58
369     67.78
370     59.98
371     63.45
372     68.87
373     80.48
374     65.00
375    100.00
376    100.00
Name: Percentage, Length: 377, dtype: float64

In [7]:
data.sort_values().head()#sorts the complete percentage column but shows only first five values (ascending order)

177    30.0
331    30.0
303    33.0
66     34.0
88     38.0
Name: Percentage, dtype: float64

In [8]:
data.sort_values(ascending=True).head()#ascending order

177    30.0
331    30.0
303    33.0
66     34.0
88     38.0
Name: Percentage, dtype: float64

In [9]:
data.sort_values(ascending=False).head()#descending order

376    100.0
96     100.0
375    100.0
165     99.0
51      99.0
Name: Percentage, dtype: float64